body {
    font-family: 'Arial', sans-serif;
    margin-top: 55px;
    margin: 0;
    padding: 0;

    background-color: #c9d6ec;
    /* Cor de fundo para visualização */
}

.container {
    margin-top: 50px;
    margin: 0 auto;
    /* Centraliza a div na tela */
    display: flex;
    width: 60%;
    /* Ajuste a largura conforme necessário */
}

#valor {
    font-weight: 600;
    color: rgba(6, 145, 121, 0.889);

}

button {
    border-radius: 7px;
    border: none;
    background-color: rgba(6, 145, 121, 0.889);
}

.imagem {
    margin-top: 50px;
    margin-right: 0px;

}

.texto {
    margin-top: 50px;
    width: 350px;
    background-color: #ffffff;
    /* Cor de fundo da div de texto */
}

/*</div>
<button class="button">
    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
        <path
            d="M280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM246-720l96 200h280l110-200H246Zm-38-80h590q23 0 35 20.5t1 41.5L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68-39.5t-2-78.5l54-98-144-304H40v-80h130l38 80Zm134 280h280-280Z" />
    </svg>
    <span>Add to cart</span>
</button>
</div>



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--conteudo responsivo-->
    <link rel="stylesheet" href="styles1.css">
    <title>Propaganda</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,500&display=swap"
        rel="stylesheet">
</head>*/  